
{% extends 'base.html' %}
{% block content %}
    <h1>{% block title %} Weekly Pictures From Nasa{% endblock %}</h1>
    {% for photo in nasa_photos %}
    <div >
        <img src= {{ (photo['url']) }} alt={{ (photo['title']) }}  class="mx-auto d-block">
        <div >
            <h3 class='text-center'>{{photo['title']}}</h3>
            <h4 class='text-center'>{{photo['date']}}</h4>
            <p >{{photo['explanation']}}</p>
            <p class='text-center'>{{photo['copyright']}}</p>
        </div>  
    </div>
    <hr>
    {% endfor %}

 {% endblock %}


